.home__bg{
    background-image: url(https://images.unsplash.com/photo-1648737966330-111e62fd798a?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172);
height: 92vh;
background-position: center;
background-size:cover;
background-repeat: no-repeat;
overflow-x: hidden;

}
.home-message-icon{
    margin-left: 10px;
    display:inline-block;
}